<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Судебные приказы</title>
    <link rel="icon" href="static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="static/main.css">
</head>
<body>

<!-- Панель поиска. -->
<form method="get" action="/">
    <table class="search_panel"><tbody>
        <tr>
            <td>
                <div>
                    <input name="defendant" type="text" class="long" autofocus placeholder="Ответчик"
                           value="{{ search_args.defendant }}">
                </div>
                <div>
                    <input name="plaintiff" type="text" class="long" placeholder="Истец"
                           value="{{ search_args.plaintiff }}">
                </div>
                <div>
                    <input name="category" type="text" class="long" placeholder="Категория"
                           value="{{ search_args.category }}">
                </div>
                <div>
                    <input name="office" type="text" class="long" placeholder="Судебный участок"
                           value="{{ search_args.office }}">
                </div>
            </td>
            <td>
                <div>
                    <input name="date_from" type="date" class="calendar"
                           value="{{ search_args.date_from }}">
                    -
                    <input name="date_to" type="date" class="calendar"
                           value="{{ search_args.date_to }}">
                </div>
                <div>
                    <input name="number" type="text" class="short" placeholder="Номер дела"
                           value="{{ search_args.number }}">
                </div>
                <div>
                    <input name="article" type="text" class="short" placeholder="Статья кодекса"
                           value="{{ search_args.article }}">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" id="search_button" value="Найти">
            </td>
        </tr>
    </tbody></table>
</form>

<!-- Сообщения об ошибках. -->
{% if flash_message %}
<div class="flash_message">{{ flash_message }}</div>
{% endif %}

<!-- Номера страниц результата поиска. -->
<div class="page_selector">
    {% if cases_number %}
        Найдено {{ cases_number }}
        {% if end_cases_number == '1' %}
            дело.
        {% elif end_cases_number in ('2', '3', '4') %}
            дела.
        {% else %}
            дел.
        {% endif %}
    {% endif %}
    {% if page_links %}
        Страницы:
        {% for page_link in page_links %}
            {% if page_link.page != 1 %} &#183; {% endif %}
            {% if page_link.url %}<a href="{{ page_link.url }}">{% endif %}
            {% if page_link.page == None %}
                ...
            {% elif page_link.current %}
                <span class="current_page_link">{{ page_link.page }}</span>
            {% else %}
                <span class="page_link">{{ page_link.page }}</span>
            {% endif %}
            {% if page_link.url %}</a>{% endif %}
        {% endfor %}
    {% endif %}
</div>

<!-- Результат поиска. -->
{% for case in cases %}
<div class="case_card">
    <div>
        {% if case.code == 'civ' %}<b>Гражданское дело:</b>{% else %}<b>Административное дело:</b>{% endif %}
        {{ case.number }} (<a href="{{ case.url }}" target="_blank">подробнее</a>)
    </div>
    {% if case.date %}<div><b>Дата:</b> {{ case.date[2] }}.{{ case.date[1] }}.{{ case.date[0] }}</div>{% endif %}
    {% if case.defendant %}<div><b>Ответчик:</b> {{ case.defendant }}</div>{% endif %}
    {% if case.plaintiff %}<div><b>Истец:</b> {{ case.plaintiff }}</div>{% endif %}
    {% if case.category %}<div><b>Категория:</b> {{ case.category }}</div>{% endif %}
    {% if case.office %}<div><b>Участок:</b> {{ case.office }}</div>{% endif %}
    {% if case.article %}<div><b>Статья:</b> {{ case.article }}</div>{% endif %}
</div>
{% endfor %}

<!-- Номера страниц результата поиска. -->
<div class="page_selector">
    {% if page_links %}
        Страницы:
        {% for page_link in page_links %}
            {% if page_link.page != 1 %} &#183; {% endif %}
            {% if page_link.url %}<a href="{{ page_link.url }}">{% endif %}
            {% if page_link.page == None %}
                ...
            {% elif page_link.current %}
                <span class="current_page_link">{{ page_link.page }}</span>
            {% else %}
                <span class="page_link">{{ page_link.page }}</span>
            {% endif %}
            {% if page_link.url %}</a>{% endif %}
        {% endfor %}
    {% endif %}
</div>

<!-- Подвал с копирайтами. -->
<div class="page_footer">
    <hr>
    <a href="https://gitlab.com/daemn/courts_parser" target="_blank">Код проекта на Gitlab</a>
</div>

</body>
</html>
