a {
    text-decoration: none;
}
table {
    text-align: center;
}
input {
    margin: 2px;
}
input.long {
    maxlength: 150;
    width: 400px;
}
input.short {
    maxlength: 20;
    width: 150px;
}
input.calendar {
}
.flash_message {
    color: maroon;
    font-weight: 600;
    margin: 10px;
}
.page_selector {
    margin: 10px;
}
.page_link {
    padding: 10px;
}
.current_page_link {
    padding: 10px;
    font-weight: 600;
    text-decoration: underline;
}
.case_card {
    padding: 7px;
    margin: 7px;
    border-top: solid;
    border-left: solid;
    border-width: 1px;
    border-color: #b0b0b0;
}
.page_footer {
    margin-top: 30px;
    font-size: 12px;
}
#search_button {
    width: 200px;
    height: 30px;
}
